extends ../../post
include ../../mixins/pie-tldr

block content
  include ../../includes/v4-update
  +pie-tldr(2)
  section
    p Food-wise, I prefer pie to donuts #[span.image-wrapper(data-width="318" data-height="232" data-src=`/img/${category.slug}/${post.slug}/donuts.gif`)], but when it comes to data viz, donut charts have certain advantages. Primarily because the interior can be put to use (which we'll be doing in the <a href="/d3-js-step-by-step/step-3-adding-a-legend">next step</a>). But how can we make our pie into a donut?
    iframe.centered(src="/static/d3-js-step-by-step/step-2-a-basic-donut-chart.html", height="380", width="380", border="0", seamless)
    p I suppose we could create a white circle, make sure its z-index is over 9000, and then position it absolutely over top of the pie. That could work, but it's a terrible idea #[span.image-wrapper(data-width="300" data-height="216" data-src=`/img/${category.slug}/${post.slug}/doing-it-wrong.gif`)]. Instead we're going to make two small changes to the code. First we'll define how wide the donut should be:
    pre
      code.javascript.
        var donutWidth = 75;
    p Next we'll update the <code>innerRadius</code> definition of <code>arc</code>:
    pre
      code.javascript.
        var arc = d3.arc()
          .innerRadius(radius - donutWidth)  // UPDATED
          .outerRadius(radius);
    p Ta da! Just like that we've transformed our pie chart into a donut chart. With the <code>innerRadius</code> value set to 0, you get a pie. In this case we've set it to be 75px less than the <code>outerRadius</code>, which results in a donut 75px wide.
    p Given that <a href="/d3-js-step-by-step/step-1-a-basic-pie-chart">Step 1</a> was a lot to take in, I thought it would be good to coast through this step on easy mode #[span.image-wrapper(data-width="350" data-height="198" data-src=`/img/${category.slug}/${post.slug}/easy-mode.gif`)]. Perhaps it was too simple to even be considered a step, but at any rate we can now march forward to <a href="/d3-js-step-by-step/step-3-adding-a-legend">Step 3</a> or take a peak at the updated code:
    div.lazy-code(data-src="/static/d3-js-step-by-step/step-2-a-basic-donut-chart.html", data-language="html")
      button.expand.small.secondary Display Full Code for Step 2

