extends ../../post

block content
  section.panel
    h3 TL;DR <span class="image-wrapper" data-width="450" data-height="363" data-s3-src="#{category.slug}/#{post.slug}/tldr.jpg"></span>
    p This post is part of a series that explores some key concepts in D3.js by building up an example, step by step, from a bare-bones pie chart to an interactive, animated donut chart that loads external data. For the enough-with-the-jibber-jabber-show-me-the-code types out there, here's a breakdown of the steps we'll be covering:
    ul
      li.bold <a href="/d3-js-step-by-step/step-0-intro">Step 0: Intro</a> &larr; You Are Here
      li <a href="/d3-js-step-by-step/step-1-a-basic-pie-chart">Step 1: A Basic Pie Chart</a> (<a href="https://github.com/zeroviscosity/d3-js-step-by-step/blob/master/step-1-a-basic-pie-chart.html" target="_blank">Code</a> | <a href="/static/d3-js-step-by-step/step-1-a-basic-pie-chart.html" target="_blank">Demo</a>)
      li <a href="/d3-js-step-by-step/step-2-a-basic-donut-chart">Step 2: A Basic Donut Chart</a> (<a href="https://github.com/zeroviscosity/d3-js-step-by-step/blob/master/step-2-a-basic-donut-chart.html" target="_blank">Code</a> | <a href="/static/d3-js-step-by-step/step-2-a-basic-donut-chart.html" target="_blank">Demo</a>)
      li <a href="/d3-js-step-by-step/step-3-adding-a-legend">Step 3: Adding a Legend</a> (<a href="https://github.com/zeroviscosity/d3-js-step-by-step/blob/master/step-3-adding-a-legend.html" target="_blank">Code</a> | <a href="/static/d3-js-step-by-step/step-3-adding-a-legend.html" target="_blank">Demo</a>)
      li <a href="/d3-js-step-by-step/step-4-loading-external-data">Step 4: Loading External Data</a> (<a href="https://github.com/zeroviscosity/d3-js-step-by-step/blob/master/step-4-loading-external-data.html" target="_blank">Code</a> | <a href="/static/d3-js-step-by-step/step-4-loading-external-data.html" target="_blank">Demo</a>)
      li <a href="/d3-js-step-by-step/step-5-adding-tooltips">Step 5: Adding Tooltips</a> (<a href="https://github.com/zeroviscosity/d3-js-step-by-step/blob/master/step-5-adding-tooltips.html" target="_blank">Code</a> | <a href="/static/d3-js-step-by-step/step-5-adding-tooltips.html" target="_blank">Demo</a>)
      li <a href="/d3-js-step-by-step/step-6-animating-interactivity">Step 6: Animating Interactivity</a> (<a href="https://github.com/zeroviscosity/d3-js-step-by-step/blob/master/step-6-animating-interactivity.html" target="_blank">Code</a> | <a href="/static/d3-js-step-by-step/step-6-animating-interactivity.html" target="_blank">Demo</a>)
    p <strong>NOTE:</strong> Because we're building things up step by step, the source code contains <code>NEW</code>, <code>UPDATED</code> and <code>REMOVED</code> comments to annotate the lines that have been added, altered or deleted relateive to the previous step.

  section 
    p D3.js, in case you are unfamiliar with it, is a powerful and flexible JavaScript library that can be used to create interactive data visualizations with HTML, SVG and CSS. D3 stands for Data-Driven Documents <span class="image-wrapper" data-width="430" data-height="538" data-s3-src="#{category.slug}/#{post.slug}/i-dont-always-d3.jpg"></span> and it's behind some of the most innovative and engaging visualizations currently on the web. On <a href="http://d3js.org/" target="_blank">d3js.org</a> you can find a wide variety of examples in addition to extensive documentation. I think it's one of the most exciting projects in the JavaScript ecosystem, and its prolific creator, <a href="http://bost.ocks.org/mike/" target="_blank">Mike Bostock</a>, deserves our collective thanks and admiration.
    p As great as it is, even experienced JavaScript developers can find D3 daunting at first. It seems like a lot of code is needed to do anything at all and there is <em>so</em> much available in the <a href="https://github.com/mbostock/d3/wiki/API-Reference" target="_blank">D3 namespace</a>. That, however, is simply a byproduct of how flexible it is. The key is to keep calm <span class="image-wrapper" data-width="400" data-height="225" data-s3-src="#{category.slug}/#{post.slug}/panic.gif"></span> and take it one step at a time. By looking at each small piece on its own and seeing how it fits with the rest of the puzzle, you'll find that patterns start to emerge and that it's not so daunting after all.
    p We'll start with this bare-bones pie chart:
    iframe.centered(src="/static/d3-js-step-by-step/step-1-a-basic-pie-chart.html", height="380", width="380", border="0", seamless)
    p And by the end we'll have this interactive, animated donut chart that loads data from an external source:
    iframe.centered(src="/static/d3-js-step-by-step/step-6-animating-interactivity.html", height="410", width="380", border="0", seamless)
    p We're going to be covering a lot of ground in these posts, so we'd better get started... onwards to <a href="/d3-js-step-by-step/step-1-a-basic-pie-chart">Step 1: A Basic Pie Chart</a>.

