for image in og.images
  meta(property="og:image", content=image)
meta(property="og:title", content=og.title)
meta(property="og:description", content=og.description)
meta(property="og:url", content=og.url)
meta(property="og:site_name", content=og.siteName)
meta(name="twitter:card", content="summary")
meta(name="twitter:site", content=tw.site)
meta(name="twitter:creator", content=tw.creator)
