extends layout

block head
  meta(property="og:image", content="#{og.image}")
  meta(property="og:title", content="#{og.title}")
  meta(property="og:url", content="#{og.url}")
  meta(property="og:site_name", content="#{og.siteName}")

block wrapper
  div.zv-list
    if tag
      div.zv-filter
        h3 <strong>Filter:</strong> #{tag}
    if posts && posts.length
      for post in posts
        div.zv-list-entry
          h2
            a(href="/post/#{post.slug}")=post.title
          h4=post.subtitle
          div.zv-meta
            div.zv-date=post.date
            div.zv-tags
              for tag in post.tags
                a.left.zv-tag(href="/?tag=#{tag}")=tag
    else
      div.zv-list-entry 
        h2 No posts found.
