extends layout

block head
  meta(property="og:image", content="#{og.image}")
  meta(property="og:title", content="#{og.title}")
  meta(property="og:url", content="#{og.url}")
  meta(property="og:site_name", content="#{og.siteName}")

block wrapper
  div.zv-list
    if posts && posts.length
      for post in posts
        div.zv-list-entry
          h2
            a(href="/post/#{post.slug}")=post.title
          div.clearfix.zv-meta
            div.left.zv-date=post.created
            div.right.zv-tags
              for tag in post.tags
                a.left.zv-tag(href="/?tag=#{tag}")=tag
    else
      div.zv-list-entry 
        h2 No posts found.
