doctype html
html(lang="en")
  head 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="#{description}") 
    block head
    title=title
    link(rel="canonical", href="#{url}")
    link(rel="shortcut icon", type="image/x-icon", href="/favicon.ico")
    link(rel="stylesheet", href="/css/main.css?v=1.01")
    style.
      @import url("//fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700");
  body 
    nav.clearfix
      div.zv-logo-top
        div.zv-logo
      div.zv-logo-bottom
      ul.zv-nav
        li
          a(href="/")
            span.icon.icon-home
            span.text Home
        if categories && categories.length
          for category in categories
            li
              a(href="/category/#{category.slug}")
                span.icon(class="icon-#{category.slug}")
                span.text=category.title
        if pages && pages.length
          for page in pages
            li
              a(href="/#{page.slug}")
                span.icon(class="icon-#{page.slug}")
                span.text=page.title

    div.zv-container
      block wrapper
    
    div.hide
      div#loading.loading-wrp-1
        div.loading-wrp-2
          div.loading
            div.loading-1
            div.loading-2

    footer &copy;2014&ndash;#{(new Date()).getFullYear()} Kent English
    script.
      (function(w, d) {
          var cb = function() {
              var js = d.createElement('script'),
                  b = d.getElementsByTagName('body')[0]; 

              js.src = '/js/app.js';
              b.appendChild(js);
          };
          var raf = w.requestAnimationFrame || w.mozRequestAnimationFrame ||
              w.webkitRequestAnimationFrame || w.msRequestAnimationFrame || false;
          if (raf) raf(cb);
          else w.addEventListener('load', cb);
      })(window, document);
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-33242750-1', 'auto');
      ga('send', 'pageview');

