extends layout

block head
  meta(property="og:image", content="#{og.image}")
  meta(property="og:title", content="#{og.title}")
  meta(property="og:url", content="#{og.url}")
  meta(property="og:site_name", content="#{og.siteName}")

block wrapper
  article.zv-page
    header
      h1=page.title

    div.zv-content
      block content
