extends layout

block head
  include includes/social-header

block wrapper
  article.zv-post
    header
      h1 #{category.title}: #{post.title}
      h3=post.subtitle
      div.zv-meta
        div.zv-date=post.date
        div.zv-tags
          for tag in post.tags
            a.left.zv-tag(href="/?tag=#{tag}")=tag

    div.zv-content
      block content

    script(src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js", async)
    ins(class="adsbygoogle", style="display:block", data-ad-client="ca-pub-5946465962339886", data-ad-slot="8302421659", data-ad-format="auto")
    script.
      (adsbygoogle = window.adsbygoogle || []).push({});

    div#disqus_thread
    script(type="text/javascript", async).
      var disqus_shortname = 'zeroviscosity';
      (function() {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    noscript Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    a.dsq-brlink(href="http://disqus.com") comments powered by <span class="logo-disqus">Disqus</span>

